.row{
    margin-left: 20px;
    color: #fff;
}
.row__posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

/* do not display scrollbars */
.row__posters::-webkit-scrollbar{    
    display: none;
}

.row__poster{
    object-fit: contain;
    width: 100%;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms; /* PART 1-1 apply some milisecs for animations */
}

.row__poster:hover{
    transform: scale(1.08); /* PART 1-2 grow container on hover */
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.095);
}

.row__posterLarge{
    max-height: 250px;
}
.row__posterLarge:hover{
    transform: scale(1.09); /* PART 1-2 grow container on hover */
    box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.095);
    opacity: 1;
}